<!-- Title -->
<h1 style="font-size: 1.8rem; color: #333; margin-bottom: 10px;">Hi there! My name is Jinhao Xu.</h1>

<!-- Bio -->
<p style="font-size: 1.1rem; line-height: 1.6; color: #555;">
    I'm an undergraduate student at <strong>Xingjian College</strong>, <strong>Tsinghua University</strong>, majoring in <strong>Mechanics</strong> and <strong>Aerospace Engineering</strong>.
    <br>
    I will join the research group of <a href="https://yanansui.com" target="_blank" style="color:#007bff; text-decoration:none;">Prof. Yanan Sui</a> as a direct Ph.D. student. My research group is <a href="https://lnsgroup.cc" target="_blank" style="color:#007bff; text-decoration:none;">LNSGroup</a>.
</p>